<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
        >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/app_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/app_icon"
            android:supportsRtl="true"
            android:theme="@style/Theme.InkWiseNote">

        <activity android:name=".ux.activities.NoteSearchActivity"/>
        <activity android:name=".ux.activities.HomePageActivity"/>
        <activity android:name=".ux.activities.MarkdownNoteActivity"/>
        <activity android:name=".ux.activities.smartnotebook.SmartNotebookActivity"/>
        <activity
                android:name=".ux.activities.AppMainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ux.activities.AdminActivity"
                android:exported="false">
        </activity>

        <activity
                android:name=".ux.activities.RelatedNotesActivity"
                android:label="Related Notes"
                android:exported="true">
        </activity>


    </application>
</manifest>